<div class='container'>
    <h1>Tests Automation</h1>
    <h2>Credentials</h2>
    <div class='row'>
        <div class='column'>
            <%= form_with model: @user, url: automation_executeTest_path, :id => 'login'  do |form| %>
                <%= form.label :database, "Database" %>
                    <%= form.select :database, @users.map {|u| [u.database.capitalize]}.uniq%>
                <%= form.label :username, "Username" %>
                    <%# <%= form.select :username%>
                    <%= form.text_field :username, :readonly => true %>
                <%= form.label :password, "Password" %>
                    <%= form.password_field :password, :readonly => true %>
                <%= form.submit "Execute Test" %>
            <% end %>
        </div>
        <div class='column image'>
            <%= image_tag 'didcomAutomation.png', style: 'width:300px' %>
            <div id='map' style='width: 400px; height: 300px;'></div>
        </div>
    </div>
    <div class="breathe"></div>
    <%= content_tag :div, class: "users", data: {users: @users} do %>
    <% end%>
    <%= javascript_pack_tag 'script'%>
</div>